<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <div class="wrapper">
        <div class="cover" style="background-image: url({{settings.cover_image}})"></div>
        <div class="content">
            <article class="article">
                <div class="header">
                    <h1>Whats going on golang ?</h1>
                    <span>01.01.2017</span>
                </div>
                <div id="lipsum">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet viverra nunc. Donec eget sapien congue, euismod tortor
                        non, semper orci. In hac habitasse platea dictumst. Nam a velit vitae tortor posuere maximus. Nullam
                        fermentum nisi sit amet vehicula luctus. Quisque elementum tincidunt orci vitae euismod. Nulla bibendum,
                        ligula eu dapibus pulvinar, purus felis pellentesque mi, in venenatis lorem felis sit amet lectus.
                        Suspendisse placerat in sapien ut gravida.
                    </p>
                </div>
                <div id="disqus_thread"></div>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </article>
            {{> menu}}
        </div>
    </div>
    <script>
        (function () {
            var d = document,
                s = d.createElement('script');
            s.src = 'https://turkdeveloper-com.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
        document.querySelector(".menu-button").addEventListener("click", function (e) {
            e.preventDefault();
            document.querySelector(".menu-button").classList.toggle("active");
            document.querySelector(".menu").classList.toggle("active");
        })
    </script>
</body>

</html>