<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <div class="wrapper">
        <div class="cover" style="background-image: url({{settings.cover_image}})"></div>
        <div class="content">
            <div class="personal-info">
                <h1>{{settings.title}}</h1>
                <span>{{settings.description}}</span>
            </div>
            {{> menu}}
        </div>
    </div>
    <script>
        document.querySelector(".menu-button").addEventListener("click", function (e) {
            e.preventDefault();
            document.querySelector(".menu-button").classList.toggle("active");
            document.querySelector(".menu").classList.toggle("active");
        })
    </script>
</body>

</html>