<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <div class="wrapper">
        <div class="cover" style="background-image: url({{settings.cover_image}})"></div>
        <div class="content">
            <div class="resume">
                <h3>I'm Muhammed Furkan AYDIN, </h3>
                <span> First of all, leaving college was the best thing that happened to me. I want to thank those who took me out of the university.<br><br> I am a high school graduate front-end developer in Turkey since 2013. I got my experience from working on many start-up projects.  I define myself as an innovative technologist and visionary front-end developer with a passion for creating successful web sites. </span>
                <div class="liner">
                    Contact Info
                </div>
                <div class="info">
                    <a href="tel:+905070732987">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M15,2A1,1 0 0,0 14,3V6H10C8.89,6 8,6.89 8,8V20C8,21.11 8.89,22 10,22H15C16.11,22 17,21.11 17,20V8C17,7.26 16.6,6.62 16,6.28V3A1,1 0 0,0 15,2M10,8H15V13H10V8M10,15H11V16H10V15M12,15H13V16H12V15M14,15H15V16H14V15M10,17H11V18H10V17M12,17H13V18H12V17M14,17H15V18H14V17M10,19H11V20H10V19M12,19H13V20H12V19M14,19H15V20H14V19Z">
                        </svg>
                        +905070732987
                    </a>
                    <a href="mailto:info@turkdeveloper.com">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z">
                        </svg>
                        info@turkdeveloper.com
                    </a>
                </div>
                <div class="liner">
                    What i know ?
                </div>
                <div class="qualification">
                    <ul>
                        <li>HTML 5</li>
                        <li>CSS 3</li>
                        <li>JAVASCRIPT</li>
                        <li>VUEJS</li>
                        <li>REACTJS</li>
                        <li>MITHRILJS</li>
                        <li>BOOTSTRAP</li>
                        <li>JQUERY</li>
                        <li>LESS</li>
                        <li>WEBPACK</li>
                        <li>BABLEJS</li>
                        <li>REDUX</li>
                    </ul>
                    <ul>
                        <li>NODEJS</li>
                        <li>EXPRESSJS</li>
                        <li>MONGODB</li>
                        <li>SCRYPT</li>
                        <li>OOP</li>
                        <li>SOCKET.IO</li>
                        <li>HANDLEBARS</li>
                        <li>Google API</li>
                        <li>Linkedin API</li>
                        <li>Twitter API</li>
                        <li>ECMASCRIPT 6</li>
                        <li>OAUTH 1 - 2</li>
                    </ul>
                </div>
                <div class="liner">
                    My recent works
                </div>
                <div class="experience">
                    <div class="experience-item">
                        <div class="experience-header">
                            <h1>Socialgin</h1>
                            <span>Front-End Developer</span>
                        </div>
                        <div class="experience-body">
                            <div class="explanation">
                                Socialgin started as a startup project. The aim of socialgin was to make a smarter social media management app that is smarter
                                than what we have now.Most apps won’t support real time queries, emotion analyze and most
                                of them do not have satisfying graphs. I am developing socialgin using HTML 5, CSS 3, ReactJS
                                and Redux JS. I hope I will create a revolutionary social media management app.
                            </div>
                            <div class="responsibilities">
                                <ul>
                                    <li>Writing Ecmascript 6 for front-end development using ReactJS and ReduxJS freamworks.</li>
                                    <li>Using websockets and managing relations.</li>
                                    <li>Writing LESS for developing user interface.</li>
                                    <li>Making bundle file using webpack.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="experience-item">
                        <div class="experience-header">
                            <h1>Community Inviter</h1>
                            <span>Full Stack Developer</span>
                        </div>
                        <div class="experience-body">
                            <div class="explanation">
                                Automated way of increasing users slack community members. Users can get join request and ask them some questions with this
                                project.
                            </div>
                            <div class="responsibilities">
                                <ul>
                                    <li>Creating user interface with css3 and vanillajs</li>
                                    <li>Making back-end with nodejs and mongodb.</li>
                                    <li>Making plugin apps for users.</li>
                                    <li>I create my slack sdk and i used in this project.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="experience-item">
                        <div class="experience-header">
                            <h1>Help To Share</h1>
                            <span>Front-End Developer</span>
                        </div>
                        <div class="experience-body">
                            <div class="explanation">
                                A startup project I made in high school. In this project, users manage all facebook groups thay have. We got 10.000+ active
                                user but Facebook didnt like this and API removed from Facebook.
                            </div>
                            <div class="responsibilities">
                                <ul>
                                    <li>Wring front-end development using Bootstrap and jQuery</li>
                                    <li>Connection to facebook and getting data.</li>
                                    <li>Sharing all facebook groups in piece by piece and every single sharing has rondom time,
                                        rondom content because of facebook securety.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p>Everything i know, i learned myself. I bought many courses. Sometimes i spent my days on Stackoverflow
                        for basic problem, sometimes i read code libraries in github. I will continue to do this until I'm
                        the best in the world. </p>
                </div>
            </div>
            {{> menu}}
        </div>
    </div>
    <script>
        document.querySelector(".menu-button").addEventListener("click", function (e) {
            e.preventDefault();
            document.querySelector(".menu-button").classList.toggle("active");
            document.querySelector(".menu").classList.toggle("active");
        })
    </script>
</body>

</html>